body {
  background-color: rgb(33, 33, 35);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: antiquewhite;
  text-align: center;
}

.loading {
  color: aquamarine;
  padding: 30px;
}